# ---[ Ignored /app files ]---

# Default ignored files
/app/.idea/


# ---[ Ignored /firmware files ]---

# Default ignored files
/firmware/.idea
# Build
/firmware/build


# ---[ Ignored /release files ]---

# Packaged release artifacts
/release
